<!--Kodun bu kısmında sayfaların üst kısımlarında bulunan barı oluşturduk.Kalıtım mantığı ile kodun çeşitli html sayflarında kullanılmasını sağladık.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Lesson</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/lessons">Dersler </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teachers">Öğretmenler </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teacher-add">Öğretmen Ekle </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/kisit">Kıstlar </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/kisit-add">Kıst Ekle </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/program">Ders Programı </a>
                </li>
               
            </ul>
            
        </div>
    </nav>
    <br> <br> <br>

